# See https://help.github.com/ignore-files/ for more about ignoring files.
# Prepending a slash matches files only in the repository root.
# You can prepend a pattern with a double asterisk to match directories anywhere in the repository.
# An asterisk is a wildcard that matches zero or more characters. (*.env)

# dependencies
node_modules/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
